.empresa,
.area {
  background-color: rgb(111, 111, 111);
  display: block;
  height: 200px;
  width: 200px;
}

.celulares {
  background-color: aqua;
  display: inline;
}

.impressoras,
.roteadores {
  display: inline-block;
  background-color: green;
  height: 100px;
  width: 200px;
}

.roteadores {
  background-color: red;
}
