* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: 80px;
  background-color: rgb(133, 134, 135);
}
.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
article {
  padding: 10px;
  border: 1px solid #b5b5b5;
}

@media (min-width: 800px) {
  article {
    float: left;
    padding: 10px;
    border: 1px solid #b5b5b5;
    width: 30%;
    margin-right: 5%;
  }
}

article > h2 {
  background-color: #b5b5b5;
  color: aliceblue;
  text-align: center;
  line-height: 2;
  margin: -10px;
  margin-bottom: 0;
  font-size: 23px;
}
article > div {
  text-align: center;
  font-size: 19px;
  margin: 20px 0;
}
article > ul {
  padding: 0;
  list-style: none;
}
article > ul > li {
  text-align: center;
}
article > footer {
  text-align: center;
}
#planos {
  padding: 80px 0;
}
#planos::after {
  content: "";
  clear: both;
}
.botao {
  border-radius: 10px;
  margin-top: 6px;
  display: inline-block;
  background-color: rgb(143, 249, 143);
  color: #4e4e4e;
  text-decoration: none;
  padding: 12px 15px;
}
.botao:hover {
  background-color: rgb(124, 253, 124);
}
.botao:focus {
  background-color: rgb(124, 253, 124);
}
